@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&family=Montserrat:wght@300;400;600&family=Playfair+Display:ital,wght@0,400;0,600;1,400&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background-color: #141414;
    /* Kunci Dark Mode */
    color: #ffffff;
}

/* Scrollbar Elegan */
::-webkit-scrollbar {
    width: 6px;
}

::-webkit-scrollbar-track {
    background: #141414;
}

::-webkit-scrollbar-thumb {
    background: #D4AF37;
    border-radius: 10px;
}

/* Efek Kaca Blur (Glassmorphism) untuk Bottom Nav */
.glass-nav {
    background: rgba(31, 31, 31, 0.7);
    backdrop-filter: blur(10px);
    border-top: 1px solid rgba(212, 175, 55, 0.2);
}